  .img1{
border-radius: 100px;
}
.partyfun{
    background-color: pink;
}
  
  h1{
    background-color: gold;
    color: aqua;
    
    
}
.GREEN{
    color: maroon;
    background: burlywood;
    width: fixed
}
.ylow{
    color: blueviolet;
    background-color: black;
     width: fixed;
    
}
.tir{
    color: violet;
    background: lightgreen;
    width: fixed;
}
.hjil{
    color: khaki;
    background: black;
  width: fixed;
}
.rawfood{
    color: aquamarine;
    background: lawngreen;
     width: fixed
}
.aboutgre{

 background: blue;
  color: green;
  border-radius: 100px;
}
.cle{
color: gold;
background: purple;
border-radius: 100px
}
.abouttree{
color: gray;
background: white;
border-radius: 100px;
}
.rock{
color: beige;
background: purple;
border-radius: 100px;
}
.vip{
color: purple;
background: green;
border-radius: 100px;
}
.br{
  border-radius: 100px;
}
.ni{
 border-radius: 100px;
}
.cheas{
border-radius: 100px;
}
.brt{
border-radius: 100px;
}
.bni{
border-radius: 100px;
}
.nomi{
color: blue
  
}
button{
width:100px;
height:50px;
 font-size:30px;
}
span{
font-size: 25px;
}
h1{
background: yellow;
color: brown;
border-radius: 50px;
font-size: 25px;
}
.btnpress{
width: 100px;
height: 50px;
font-size: 10px;

 
}
.yeet{
  color: violet;
  background: black;
  border-radius: 10px;
    
}
green{
    width: 100px;
    height: 30px;
    border: 3px soldi white;
    border-radius: 5px;
    background: green;
    color: black;
    cursor: pointer;
    outline: none;
    font-size: 20px;
}
.red{
  width: 100px;
    height: 30px;
    border: 3px soldi white;
    border-radius: 5px;
    background: red;
    color: black;
    cursor: pointer;
    outline: none;
    font-size: 20px;

}
.yellow{
width: 100px;
    height: 30px;
    border: 3px soldi white;
    border-radius: 5px;
    background: yellow;
    color: black;
    cursor: pointer;
    outline: none;
  font-size: 20px;
}

#stopwatch {
    font-size: 100px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -55%);
}
#buttons {
    position: absolute;
    top: 55%;
    left: 48.4%;
    transform: translate(-51.6%, -45%);
}
#buttons li {
    display: inline;
    padding-left: 10px;
}
.border{
background-color:blue;
  color: black;
}


