  .img1{
border-radius:100%;
}
.partyfun{
    background-color: pink;
}
  
  h1{
    background-color: gold;
    color: aqua;
    
    
}
.GREEN{
    color: maroon;
    background: burlywood;
}
.ylow{
    color: blueviolet;
    background-color: black;
}
.tir{
    color: violet;
    background: lightgreen;
}
.hjil{
    color: khaki;
    background: black;
}
.rawfood{
    color: aquamarine;
    background: lawngreen;
}
