  .img1{
border-radius: 100px;
}
.partyfun{
    background-color: pink;
}
  
  h1{
    background-color: gold;
    color: aqua;
    
    
}
.GREEN{
    color: maroon;
    background: burlywood;
}
.ylow{
    color: blueviolet;
    background-color: black;
}
.tir{
    color: violet;
    background: lightgreen;
}
.hjil{
    color: khaki;
    background: black;
}
.rawfood{
    color: aquamarine;
    background: lawngreen;
}
.aboutgre{

 background: blue;
  color: green;
  border-radius: 100px;
}
.cle{
color: gold;
background: purple;
border-radius: 100px
}
.abouttree{
color: gray;
background: white;
border-radius: 100px;
}
.rock{
color: beige;
background: purple;
border-radius: 100px;
}
.vip{
color: purple;
background: green;
border-radius: 100px;
}

